* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}

li, a, button {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 15;
    color:black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: red
}

button {
    padding: 9px 25px;
    background-color: rgba(255,0,0,0.9);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.right
{
margin-left: auto;
margin-right: 100px;
margin-top: -230px;
margin-bottom: -100px;
text-align:right;
}

table, th, td {
    border:1px solid;
    background-color: whitesmoke;
}

th {
    background-color: gray;
    color:black
}

.footer-text {
    font-size: medium;
    color: black;
    text-align: center;
}